*,
*::before {
  box-sizing: border-box;

  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

:root {
  --primary: #0284c7;
  --shadow: rgb(0 0 0 / 0.2);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  display: grid;
  grid-template-columns: 1fr 4fr;

  background-color: white;
  color: black;
}

.sidebar {
  padding: 2rem;

  background-color: var(--primary);
  color: white;
  box-shadow: 3px 0 var(--shadow);
}

.sidebar h2 {
  font-size: 2rem;
}

.sidebar nav {
  display: grid;
  gap: 1rem;

  margin: 3rem 0;

  font-size: 1.5rem;
}

.topbar,
.user-and-actions {
  padding-left: 4rem;
  padding-right: 6rem;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20rem;

  padding-top: 1rem;
}

.topbar .search {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 1.5rem;

  width: 100%;
  height: 100%;
}

.topbar input[type="search"] {
  min-height: 2rem;
  padding: 0 1rem;

  background-color: hsl(240, 12%, 93%);

  border: none;
  border-radius: 9999px;

  font-size: 16px;
}

.user {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 2rem;
  align-items: center;
}

.pfp {
  border-radius: 9999px;
}

.label {
  font-size: 1.125rem;
  font-weight: bold;
  text-wrap: nowrap;
}

.user-and-actions {
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 5px var(--shadow);

  padding-top: 2rem;
  padding-bottom: 1rem;
}

.user--large {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  gap: 1rem;
}

.user--large h1 {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.user--large .welcome {
  font-size: 1rem;
}

.actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
}

.actions button {
  padding: 1rem 3rem;
  height: fit-content;

  background-color: var(--primary);
  color: white;

  border: none;
  border-radius: 9999px;

  font-size: 1rem;
  font-weight: bold;
}

section h2 {
  margin-bottom: 1rem;
}

.projects,
aside {
  padding-left: 2rem;
  padding-right: 4rem;
  background-color: hsl(240, 12%, 93%);
}

.projects {
  padding-top: 4rem;
}

.project--wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}

.projects article {
  position: relative;

  display: grid;
  grid-template-rows: repeat(2, min-content) 1fr;

  padding: 2rem 1rem 1rem 2rem;

  background-color: white;

  border-radius: 1rem;
}

.projects article::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;

  border-radius: 1rem 0 0 1rem;

  width: 0.5rem;

  background-color: goldenrod;
}

.projects h3 {
  margin-bottom: 0.5rem;

  font-size: 1.25rem;
}

.projects p {
  color: hsl(240, 12%, 30%);
}

.projects nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: end;
  align-items: center;
  justify-self: end;
  gap: 1rem;
}

.projects button {
  border: none;
  background-color: transparent;
}
