* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

body header {
  padding: 2rem;
}

body header nav {
  margin: 3rem 0;

  display: grid;
  gap: 1rem;
}
